  #form {  
    padding: 20px 0px 0px 30px;   /* margen con valores: arriba - derecha - abajo - izquierda */ 
    font-family:verdana,arial; 
    font-size:9pt; 
}  

.campos {  
    font-family:verdana,arial;    /* tipo de letra */  
    width: 500px;                 /* anchura de campos de formulario */  
    font-size:8pt;                /* tamaño de la letra*/   
    color: black;               /* color del texto */   
    border: 1px dotte black;    /* color del borde puede ser solid ó dotted */   
    background-color: white;    /* color del fondo */   
}  

.boton{ 
    font-size:12px; 
    font-family:Verdana,Helvetica; 
    font-weight:bold; 
    color:#0000FF; 
    background:#A4C1FF; 
    border:0px; 
    width:120px; 
    height:25px; 
} 

#b_reset {  
    margin: 0px 0px 0px 0px;    /* margen con valores: arriba - derecha - abajo - izquierda */  
}  

#b_submit {  
    margin: -25px 0px 0px 380px;    /* margen con valores: arriba - derecha - abajo - izquierda */  
} 